<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submissions</title>
    <!-- Add your CSS link here -->
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="navbar">
        <ul>
         <h2>Welcome admin</h2>
        </ul>
    </div>
    <div class="container">
        <h1>Form Submissions</h1>
        <% if (formData) { %>
            <% Object.keys(formData).forEach((key) => { %>
                <div>
                  <div class="dec">

                    <p>Name: <%= formData[key].name %></p>
                    <p>Email: <%= formData[key].email %></p>
                    <p>Message: <%= formData[key].message %></p>
                    <p>Subject: <%= formData[key].subject %></p>
                    <!-- Add more fields as needed -->
                </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No form submissions available.</p>
        <% } %>
    </div>
</body>
<script>
    // JavaScript code to handle navigation
    const homeLink = document.getElementById("homeLink");
    const aboutLink = document.getElementById("aboutLink");
    const villagesLink = document.getElementById("villagesLink");

    homeLink.addEventListener("click", () => {
        window.location.href = "/landing";
    });

  

    aboutLink.addEventListener("click", () => {
        window.location.href = "/about";
    });

    villagesLink.addEventListener("click", () => {
        window.location.href = "/villages";
    });
</script>
</html>
