<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Alert App</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="#" id="homeLink" class="active">HOME</a></li>
            <li><a href="#" id="contactLink">CONTACT</a></li>
            <li><a href="#" id="aboutLink">ABOUT</a></li>
            <li><a href="#" id="villagesLink">VILLAGES</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Get In Touch With Us</h1>
        <div class="content">
            <div class="contact-form">
                <h2>Contact Us</h2>
                <form action="/submit-contact" method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5" required></textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    // JavaScript code
    const homeLink = document.getElementById('homeLink');
    const contactLink = document.getElementById('contactLink');
    const aboutLink = document.getElementById('aboutLink');
    const villagesLink = document.getElementById('villagesLink');

    homeLink.addEventListener('click', () => {
        window.location.href = '/login/landing';
    });

    contactLink.addEventListener('click', () => {
        window.location.href = '/contact';
    });

    aboutLink.addEventListener('click', () => {
        window.location.href = '/about';
    });

    villagesLink.addEventListener('click', () => {
        window.location.href = '/villages';
    });
</script>
</html>
