<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT WATER LEVEL ALERT</title>
    <link rel="stylesheet" href="/home.css" />
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li><a href="#" id="homeLink" class="active">HOME</a></li>
        <li><a href="#" id="contactLink">CONTACT</a></li>
        <li><a href="#" id="aboutLink">ABOUT</a></li>
        <li><a href="#" id="villagesLink">VILLAGES</a></li>
      </ul>
    </div>
    <div class="container">
        <h1>About Water Levels in Indian Villages</h1>
      <div class="dec">
        <p class="decp">
        
            Water levels in Indian villages are crucial for various aspects of life, including agriculture,
            drinking water supply, and overall community well-being. The geography and topography of India
            make water management a significant challenge, with many villages facing water scarcity or
            flooding issues depending on the region and season. Understanding and monitoring water levels
            in these villages are essential for sustainable development and disaster management efforts.
        </p>
    </div>
    <div class="dec">

        <p class="decp">
            The Water Alert App provides real-time information on water levels in different villages across
                    India, empowering communities and authorities to make informed decisions and take proactive
                    measures to mitigate risks and ensure water security.
        </p>
    </div>
    
  

    <div class="footer">
      <p>WaterLevelAlert &copy; 2024</p>
    </div>
  </body>
  <script>
    // Get the navbar links by their IDs
    const homeLink = document.getElementById("homeLink");
    const contactLink = document.getElementById("contactLink");
    const aboutLink = document.getElementById("aboutLink");
    const villagesLink = document.getElementById("villagesLink");

    // Add click event listeners to each navbar link
    homeLink.addEventListener("click", () => {
      window.location.href = "/landing"; // Navigate to the home page
    });

    contactLink.addEventListener("click", () => {
      window.location.href = "/contact"; // Navigate to the contact page
    });

    aboutLink.addEventListener("click", () => {
      window.location.href = "/about"; // Navigate to the about page
    });

    villagesLink.addEventListener("click", () => {
      window.location.href = "/villages"; // Navigate to the villages page
    });
  </script>
</html>
